<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.css">
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
		  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		  <script src="javascript/semantic.js" type="text/javascript"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.js"></script>
		
		<link rel="stylesheet" type="text/css" href="static/mystyle.css">
		

		<link rel="stylesheet" href="/code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<script src="/code.jquery.com/jquery-1.10.2.js"></script>
		<script src="/code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<link rel="stylesheet" href="/resources/demos/style.css">

		<script>
		$(function() {
		  $( "#datepicker" ).datepicker();
		});
		</script>

	</head>
	<body>
		<div class="ui centered grid">
			<div class="six wide column">
			<div class="panel panel-info">
			<div class="panel-heading">申請資料</div>
			<div class="panel-body">
			<form class="ui form">	 
		  
		  
		    <div class="field">

		      <label>系別</label>		      
		        <div class="field">
		          <input name="first-name"  type="text">
		        </div>
		      <label>年級</label>		      
		        <div class="field">
		          <input name="first-name" type="text">
		        </div>
		      <label>手機</label>		      
		        <div class="field">
		          <input name="first-name"  type="text">
		        </div>
		      <label>借用日期</label>		      
		        <div class="field">
		          
		          
		          <input type="text" id="datepicker">
		        </div>
		      <label>歸還日期</label>		      
		        <div class="field">
		          <input name="first-name"  type="text">
		        </div>
		      <label>天數</label>		      
		        <div class="field">
		          <input name="first-name"  type="text">
		        </div>
		      <label>抵押證件</label>		      
		        <div class="field">
		          <input name="first-name"  type="text">
		        </div>
		      <label>負責人</label>		      
		        <div class="field">
		          <input name="first-name"  type="text">
		        </div>		    
		</form>
		<center> <div class="ui inverted blue button"><a href="">Submit</a> </div>
		</center>


		</div>
	 </div>
	 </div>
	 </div>
	 </div>

	
	</body>
	
    

	
</html>