body {
    background-color: white;
}
.ui.ordered.steps {
	position: relative;
	top: 275px;
}


h1 {
	position: relative;
	top: 150px;
	left: 200;
}
.ui.inverted.blue.button {
	position: relative;
	top: 300px;
}