
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IRS|海報、會產系統</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.0/semantic.js"></script>
	<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
<nav id="rs_nav" class="navbar navbar-inverse navbar-fixed-top animated" role="navigation">
<style>a.app_offline{color:#999!important;cursor:not-allowed;text-decoration:line-through;}nav#rs_nav div#nav_title_bg{background:url('http://res.nchusg.org/img/bs_sLogo.png') no-repeat center;background-size:100% 100%;}nav#rs_nav a#nav_title{transition-property:opacity;transition-duration:0.3s;transition-timing-function:linear;-webkit-transition-property:opacity;-webkit-transition-duration:0.3s;-webkit-transition-timing-function:linear;background:rgb(32,32,32);opacity:1;}nav#rs_nav a#nav_title:hover{opacity:0;}</style>
 
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<div id="nav_title_bg" class="hidden-xs" style="height:50px">
<a id="nav_title" class="hidden-xs navbar-brand" href="http://nchusg.org" title="" data-original-title="回興大學生會首頁">NCHUSG</a>
</div>
<a class="navbar-brand visible-xs" href="http://nchusg.org">NCHUSG</a>
<p class="navbar-text visible-xs">中興大學學生會</p>
</div>
 
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">關於<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://nchusg.org/sg/about">基本介紹</a></li>
<li><a href="http://wiki.nchusg.org/index.php/%E5%AD%B8%E7%94%9F%E6%9C%83:%E7%B5%84%E7%B9%94%E6%9E%B6%E6%A7%8B" target="_blank">組織架構</a></li>
<li><a href="http://wiki.nchusg.org/index.php/%E5%AD%B8%E7%94%9F%E6%9C%83:%E6%AD%B7%E5%B1%86%E5%B9%B9%E9%83%A8%E8%88%87%E6%88%90%E5%93%A1" target="_blank">歷屆幹部</a></li>
<li><a href="http://wiki.nchusg.org/index.php/%E5%AD%B8%E7%94%9F%E6%9C%83:%E8%A1%8C%E6%94%BF%E4%B8%AD%E5%BF%83" target="_blank">行政 | 行政中心</a></li>
<li><a href="http://wiki.nchusg.org/index.php/%E5%AD%B8%E7%94%9F%E6%9C%83:%E5%AD%B8%E7%94%9F%E4%BB%A3%E8%A1%A8%E5%A4%A7%E6%9C%83" target="_blank">立法 | 學生代表大會</a></li>
<li><a href="http://wiki.nchusg.org/index.php/%E5%AD%B8%E7%94%9F%E6%9C%83:%E5%AD%B8%E7%94%9F%E4%BB%B2%E8%A3%81%E8%A9%95%E8%AD%B0%E5%A7%94%E5%93%A1%E6%9C%83" target="_blank">司法 | 仲裁評議委員會</a></li>
</ul>
</li>
</ul>
<ul class="nav navbar-nav">
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">服務 &amp; 功能<b class="caret"></b></a>
<ul class="dropdown-menu">
<li role="presentation" class="dropdown-header">All</li>
<li><a href="http://irc.nchusg.org/" class="app_offline">IRC聊天室</a></li>
<li role="presentation" class="dropdown-header">Students</li>
<li><a href="#" class="app_offline">學生權益申訴系統</a></li>
<li><a href="http://app.nchusg.org/poster_manager/">海報欄位申請系統</a></li>
<li class="divider"></li>
<li role="presentation" class="dropdown-header">NCHUSG</li>
<li><a href="http://app.nchusg.org/election">三合一選舉</a></li>
<li><a href="#" class="app_offline">會費繳費狀況查詢</a></li>
<li><a href="#" class="app_offline">會產借用系統</a></li>
</ul>
</li>
</ul>
<ul class="nav navbar-nav">
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">文件 &amp; 資料<b class="caret"></b></a>
<ul class="dropdown-menu">
<li role="presentation" class="dropdown-header">SG</li>
<li><a href="http://wiki.nchusg.org/index.php/%E5%AD%B8%E7%94%9F%E6%9C%83:%E6%9C%83%E8%AD%B0%E8%A8%98%E9%8C%84" target="_blank">會議記錄</a></li>
<li><a href="http://wiki.nchusg.org/index.php/%E5%AD%B8%E7%94%9F%E6%9C%83:%E8%B2%A1%E5%8B%99%E6%96%87%E4%BB%B6" target="_blank">財務文件</a></li>
<li><a href="http://wiki.nchusg.org/index.php/%E6%B3%95%E8%A6%8F:%E5%AD%B8%E7%94%9F%E6%9C%83%E6%B3%95%E8%A6%8F%E5%BD%99%E7%B7%A8" target="_blank">法規彙編</a></li>
<li role="presentation" class="dropdown-header">NCHU</li>
<li><a href="http://wiki.nchusg.org/index.php/%E7%A4%BE%E5%9C%98:%E6%B8%85%E5%96%AE/%E7%AC%AC102%E5%AD%B8%E5%B9%B4%E5%BA%A6" target="_blank">社團/學會清單</a></li>
</ul>
</li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="https://www.facebook.com/nchusg" target="_blank">粉絲專頁</a></li>
<li><a href="http://wiki.nchusg.org/" target="_blank">黑天鵝會誌</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">開發團隊<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="http://wiki.nchusg.org/index.php/%E5%AD%B8%E7%94%9F%E6%9C%83:%E8%A1%8C%E6%94%BF%E4%B8%AD%E5%BF%83/%E8%B3%87%E8%A8%8A%E9%83%A8" target="_blank">About</a></li>
<li><a href="http://nchusginfo.tumblr.com/" target="_blank">Tumblr</a></li>
<li><a href="https://trello.com/b/cUEXcn6L/project-manager" target="_blank">Trello</a></li>
</ul>
</li>
</ul>
</div> 
<script>
    $('a.dropdown-toggle').mouseover(function(){
      if($('div.navbar-collapse.collapse').is('div'))
        $(this).parent().addClass('open').mouseleave(function(){
          $(this).removeClass('open')
        });
    });

    $('#nav_title').bind('mouseover',function(){
      $(this).tooltip({
        placement:'bottom',
        trigger:'hover'
      }).unbind('mouseover').tooltip('show');
    });
  </script>
</nav>
<center><div class="ui ordered steps">
  <div class="completed step">
    <div class="content">
      <div  class="title">身分驗證</div>
      <div class="description">首先登入ILT系統</div>
    </div>
  </div>
  <div class="active step">
    <div class="content">
      <div class="title">進行會產申請</div>
      <div class="description">選擇要借用之會產（如果已被借用，選單中不會出現物品）</div>
    </div>
  </div>
  <div class="disabled step">
    <div class="content">
      <div class="title">確認借用</div>
      <div class="description">請在時間到期前歸還</div>
    </div>
  </div>
</div>
</center>
<center><h1>
  <b>歡迎來到會產、海報系統!</b>
</h1></center>

  
</body>
</html>